<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="userService" class="com.yuan.service.UserService"></bean>
	<bean name="firstScheduledJob"  class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
	    <property name="jobClass" value="com.yuan.quartz.FirstScheduledJob" />  
	    <property name="jobDataMap">  
	        <map>  
	            <entry key="userService" value-ref="userService" />  
	        </map>  
	    </property>
	    <property name="durability" value="true" />  
	</bean>  
	
	<bean id="cronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
	    <property name="jobDetail" ref="firstScheduledJob" />  
	    <!--<property name="cronExpression" value="0/5 * * ? * SAT-SUN" />-->  
	    <property name="cronExpression" value="0/5 * * ? * *" />  
	</bean>  
	
	<bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
	    <property name="jobDetails">  
	        <list>  
	            <ref bean="firstScheduledJob" />  
	        </list>  
	    </property>  
	    <property name="triggers">  
	        <list>  
	            <ref bean="cronTrigger" />  
	        </list>  
	    </property>  
	</bean>  
</beans>